# Dictionaries

In python dictionaries are written with curly brackets and they have key value pairs

In [1]:
# points
# we can store different datatypes
# order doesn't matter here
# keys should be unique
# mutable

In [15]:
dict1 = {
    'Name': "Rajesh",
    'age': 22,
    'annual_income': 3000000,
    'brother/sister': True
}

In [16]:
print(dict1)

{'Name': 'Rajesh', 'age': 22, 'annual_income': 3000000, 'brother/sister': True}

In [12]:
len(dict1)

4

# Accessing elements using the keys

In [22]:
# 1 accessing person name
x = dict1['Name']

In [23]:
x

'Rajesh'

In [24]:
# accessing elements using the .get(keyname)method

x = dict1.get('age')
x

22

In [25]:
# change or update any values
# update rajesh age

dict1['age'] = 24
dict1

{'Name': 'Rajesh', 'age': 24, 'annual_income': 3000000, 'brother/sister': True}

In [27]:
# keys() method to get the keys of your dictionary

keys = list(dict1.keys())
print(keys)

['Name', 'age', 'annual_income', 'brother/sister']

In [28]:
dict1.get('brother/sister')

True

In [29]:
# get values of a particular dictionary using the values() method

vals = list(dict1.values())
print(vals)

['Rajesh', 24, 3000000, True]

In [30]:
# the items() method will fetch you both keys and values

items = list(dict1.items())
print(items)

[('Name', 'Rajesh'), ('age', 24), ('annual_income', 3000000), ('brother/sister', True)]

# Adding items to an existing dictionary

In [31]:
#adding the experience
dict1['Experience'] = 2

In [32]:
dict1

{'Name': 'Rajesh',
 'age': 24,
 'annual_income': 3000000,
 'brother/sister': True,
 'Experience': 2}

In [33]:
# add the role

dict1['Role'] = 'Full Stack Developer'

In [36]:
dict1['Name'] = 'Rajesh'

In [38]:
dict1.pop('Name')
dict1

{'age': 24,
 'annual_income': 3000000,
 'brother/sister': True,
 'Experience': 2,
 'Role': 'Full Stack Developer'}

In [40]:
dict1['Name'] = 'Rajesh'
dict1

{'age': 24,
 'annual_income': 3000000,
 'brother/sister': True,
 'Experience': 2,
 'Role': 'Full Stack Developer',
 'Name': 'Rajesh'}

In [41]:
# removing the key using the del function 

del dict1['Name']

In [42]:
dict1

{'age': 24,
 'annual_income': 3000000,
 'brother/sister': True,
 'Experience': 2,
 'Role': 'Full Stack Developer'}

In [43]:
# popitem() removes the last inserted item

dict1.popitem()
print(dict1)

{'age': 24, 'annual_income': 3000000, 'brother/sister': True, 'Experience': 2}

In [44]:
dict2 = dict1.copy()

In [45]:
dict1.clear()
dict1

{}

In [52]:
# inserting multiple values for a key
dict2['annual_income'] = [3000000, 2500000, 34000000]

In [53]:
print(dict2)

{'age': 24, 'annual_income': [3000000, 2500000, 34000000], 'brother/sister': True, 'Experience': 2, 'Role': ['Full Stack Developer', 'Machine learning engineer', 'python developer']}

# Nested Dictionary

In [54]:
person1 = {'Name': 'Rahul',
          'year': 1998}

person2 = {'Name': 'Rajesh',
          'year': 1997}

dict3 = {
    
"1st person": person1,
    "2nd person": person2
}

In [55]:
dict3

{'1st person': {'Name': 'Rahul', 'year': 1998},
 '2nd person': {'Name': 'Rajesh', 'year': 1997}}

In [62]:
dict4 = {
    '1st person': {'Name': 'Rahul',
          'year': 1998,
                  
            'profession': ['python developer', 'ml engineer','java developer','data scientist']},
    
      '2nd person':  {'Name': 'Rajesh',
          'year': 1997,
                     
        'profession': ['nlp engineer','computer vision engineer']}
          
}
print(dict4)

{'1st person': {'Name': 'Rahul', 'year': 1998, 'profession': ['python developer', 'ml engineer', 'java developer', 'data scientist']}, '2nd person': {'Name': 'Rajesh', 'year': 1997, 'profession': ['nlp engineer', 'computer vision engineer']}}

In [58]:
dict4['1st person']

{'Name': 'Rahul',
 'year': 1998,
 'profession': ['python developer', 'ml engineer']}

In [59]:
# accessing the name of 1st person

dict4['1st person']['Name']

'Rahul'

In [60]:
# accessing the profession of 2nd person

dict4['2nd person']['profession']

['nlp engineer', 'computer vision engineer']

In [69]:

dict4['1st person']['profession'][0::2]

['python developer', 'java developer']

In [65]:

dict4['1st person']['profession'][0:3]

['python developer', 'ml engineer', 'java developer']

In [70]:
dict5 = {
    'may_batch':{
        'Student':{
            "Name": "Mike",
            "marks":{
            'python': 95,
            'math': 88,
            'full stack' : 90
            }
     }
    }
}

In [71]:
dict5

{'may_batch': {'Student': {'Name': 'Mike',
   'marks': {'python': 95, 'math': 88, 'full stack': 90}}}}

In [ ]:
# In the above dictionary

# 1. Access Name Mike
# 2. Access the value 88 or marks scored in math
# 3. Change the name mike to your name
# 4. Add Science = 80 , English = 93