In [1]:
#slicing and indexing

a  = 'hi we are learning python'

In [4]:
#index 0 
print(a[0],a[3])

h w

In [7]:
print(a[-1],a[-2],a[-5])

n o y

In [8]:
len(a)

25

In [9]:
# slicing [start:stop:step]
# starting position (default 0)
#stop - end position 
#step - step size or increment size (default value 1)

# example

b = 'hello world'

In [19]:
b[:5]

'hello'

In [20]:
b[6:]

'world'

In [21]:
b[-5:]

'world'

In [22]:
b[::2]

'hlowrd'

In [24]:
#reverse the string 
b[::-1]

'dlrow olleh'

In [26]:
#LIST
# we can store different data types
# duplicate values are allowed
# indexing and slicing is possible
# mutable

In [27]:
# IN python list are written with square brackets

list_1 = [1,2,2.5,-99, "Hey", "Guys","Python", True, False]

In [28]:
print(list_1)

[1, 2, 2.5, -99, 'Hey', 'Guys', 'Python', True, False]

In [33]:
list_2 = [12,13,13,13, 13, 20, 25, 34 , 34.999, 12.883, -9.86]

In [34]:
print(list_2)

[12, 13, 13, 13, 13, 20, 25, 34, 34.999, 12.883, -9.86]

In [31]:
list_3 = ['Hey','Guys','how','was','your','day']

In [32]:
print(list_3)

['Hey', 'Guys', 'how', 'was', 'your', 'day']

In [37]:
# checking the data type of a particular variable using the function called  type()

type(list_1)

list

In [61]:
len(list_2)

12

In [41]:
# To do the indexing on the list datatype : And as previous examples same it is universal that indexing starts from 0 
# gettting my first element using indexing

list_1[0]

1

In [42]:
# get my last element

list_1[-1]

False

In [43]:
# get the 5th element

list_1[5]

'Guys'

In [44]:
# Slicing 

# to get first 3 elements

list_2[:3]

[12, 13, 13]

In [45]:
# to get first 5 elements

list_1[:5]

[1, 2, 2.5, -99, 'Hey']

In [46]:
list_3[:8]

['Hey', 'Guys', 'how', 'was', 'your', 'day']

In [47]:
# getting the last five elements

list_2[-5:]

[25, 34, 34.999, 12.883, -9.86]

In [50]:
# using the increment position(passing the value in the increment position)

list_2[::3]

[12, 13, 25, 12.883]

In [51]:
# mutable

In [52]:
list_2 = [12,13,13,13, 13, 20, 25, 34 , 34.999, 12.883, -9.86]

In [55]:
list_2[3] = 40

In [56]:
list_2

[30, 13, 13, 40, 13, 20, 25, 34, 34.999, 12.883, -9.86]

In [57]:
# SOME INBUILT METHODS TO DO FEW OPERATIONS

In [58]:
# append operation appends the value at the end of the list
list_2.append("Rajesh")

In [60]:
list_2

[30, 13, 13, 40, 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh']

In [62]:
list_2.append("Sachin")

In [63]:
list_2

[30, 13, 13, 40, 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']

In [64]:
# INSERT(pos, element)

In [65]:
list_2.insert(1,30)

In [66]:
list_2

[30, 30, 13, 13, 40, 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']

In [67]:
list_2.insert(5,"Hello")

In [68]:
list_2

[30,
 30,
 13,
 13,
 40,
 'Hello',
 13,
 20,
 25,
 34,
 34.999,
 12.883,
 -9.86,
 'Rajesh',
 'Sachin']

In [69]:
# copying your list into a different variable

list_4 = list_2

In [70]:
print(list_4) # copying the list_2 using the assignment operator '='

[30, 30, 13, 13, 40, 'Hello', 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']

In [71]:
print(list_2) # original

[30, 30, 13, 13, 40, 'Hello', 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']

In [72]:
# to copy the values from one variable to another we have a function known as .copy()

list_5 = list_2.copy() # copying the list_2 using the copy() function

In [74]:
print(list_5)

[30, 30, 13, 13, 40, 'Hello', 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']

In [75]:
list_4[4] = 'Python'

In [76]:
print(list_4)
print(list_2)

[30, 30, 13, 13, 'Python', 'Hello', 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']
[30, 30, 13, 13, 'Python', 'Hello', 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']

In [77]:
list_5[7] = 'Programming'

In [78]:
print(list_5)
print(list_2)

[30, 30, 13, 13, 40, 'Hello', 13, 'Programming', 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']
[30, 30, 13, 13, 'Python', 'Hello', 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin']

In [79]:
# extend

# IN python list are written with square brackets

list_1 = [1,2,2.5,-99, "Hey", "Guys","Python", True, False]

In [80]:
list_1.extend(list_2)

In [81]:
list_1.extend(list_3)

In [82]:
print(list_1)

[1, 2, 2.5, -99, 'Hey', 'Guys', 'Python', True, False, 30, 30, 13, 13, 'Python', 'Hello', 13, 20, 25, 34, 34.999, 12.883, -9.86, 'Rajesh', 'Sachin', 'Hey', 'Guys', 'how', 'was', 'your', 'day']

In [ ]:
# remove(), count(), pop(),sort(), reverse()