# Sets

In python sets are written with curly brackets

# few points about sets
1. Can store different data type
2. Duplicate values are not allowed
3. Indexing and Slicing is not possible
4. It is mutable

In [1]:
set1 = {2,3,44.5,-6.88,'programming','python',4,3,2}

In [2]:
print(set1)

{2, 3, 4, 44.5, 'programming', 'python', -6.88}

In [27]:
set2 = {1,2,3,4,4,1,2,1,1,4,3}

In [4]:
print(set2)

{1, 2, 3, 4}

In [5]:
type(set2)

set

In [6]:
# checking the length

len(set2)

4

In [8]:
# indexing and slicing in sets (it is not allowed)

set2[0:2]

TypeError: 'set' object is not subscriptable

In [12]:
# Empty Set

set3 = {}
print(set3)

{}

In [13]:
type(set3)

dict

In [14]:
# to build an empty set we have to use the inbuilt set function which is set()
set3 = set()
print(set3)

set()

In [15]:
type(set3)

set

In [25]:
set2 = {3,4,5,6,8,7}
print(set2)

{3, 4, 5, 6, 7, 8}

In [28]:
# Using inbuilt functions will add new elements in the set

# * TO add elements we use function named --> add(item)

set2.add(5)
print(set2)

{1, 2, 3, 4, 5}

In [29]:
set2.add('hello')
print(set2)

{1, 2, 3, 4, 5, 'hello'}

In [30]:
set2.add(5)
print(set2)

{1, 2, 3, 4, 5, 'hello'}

In [31]:
# IF you want to add more than one items. I can do that using the inbuilt function called .update(list)

set2.update([22,3.562,'hi'])

In [32]:
print(set2)

{1, 2, 3, 4, 5, 3.562, 'hi', 22, 'hello'}

In [33]:
# copy

set3 = set2.copy()
set3

{1, 2, 22, 3, 3.562, 4, 5, 'hello', 'hi'}

In [34]:
# to remove an specified item from the set, Will use a function named .remove(item)

set2

{1, 2, 22, 3, 3.562, 4, 5, 'hello', 'hi'}

In [35]:
set2.remove(3.562)

In [36]:
set2

{1, 2, 22, 3, 4, 5, 'hello', 'hi'}

In [37]:
set2.remove('hi')

In [38]:
set2

{1, 2, 22, 3, 4, 5, 'hello'}

In [39]:
# removing the element which is not present
set2.remove('hi')

KeyError: 'hi'

In [40]:
# Now removing the elements from a set using a function called .discard(item)

set2.discard('hello')
set2

{1, 2, 3, 4, 5, 22}

In [41]:
set2.discard('hello') # if we are trying to remove the element which isn't present in the sets  using the discard function it won't throw any error message

In [42]:
# sets are unordered , so when we are using the pop() method , you will not know which item is removed

set4 = {'a',1,'b',2,'c',3,4,'d'}
set4.pop()

'a'

In [43]:
set4.pop()

1

In [44]:
set4.pop()

2

In [45]:
set4.pop()

3

In [46]:
set4

{4, 'b', 'c', 'd'}

In [47]:
# clear() --> It will clear all the items inside the set and restore the data type

set4.clear()
set4

set()

In [48]:
# WORKING WITH FEW INBUILT FUNCTIONS 
# union()
#intersection()

In [53]:
set1 = {2,3,4,56,8,9,10,'python'}
set2 = {3,4,10, 23.5,44.567,'programming','python'}

In [54]:
print(set1,set2)

{2, 3, 4, 8, 9, 10, 'python', 56} {3, 4, 10, 44.567, 'programming', 'python', 23.5}

In [55]:
set3 = set1.union(set2)

In [56]:
print(set3)

{2, 3, 4, 8, 9, 10, 44.567, 'programming', 23.5, 'python', 56}

In [57]:
# working with the intersection

set4 = set1.intersection(set2)

In [58]:
print(set4)

{10, 3, 4, 'python'}

In [59]:
# Task on sets , going through few inbuilt functions
# 1) difference(), 2) symmetric_difference()

In [ ]:
# MAKE A TABLE OF ALL THE INBUILT DATA TYPES  AND POINT OUT THE DIFFERENCE ONE BY ONE