# Tuples are built with a round brackets

# important properties of tuples

can store different data types
duplicate values are allowed
indexing and slicing are possible
immutable

In [1]:
tuple1 = (1,2,3,'hello','python',-20.99, 20.8888,10,15)

In [2]:
print(tuple1)

(1, 2, 3, 'hello', 'python', -20.99, 20.8888, 10, 15)

In [3]:
type(tuple1)

tuple

In [4]:
len(tuple1)

9

In [35]:
tuple2 =(9,)

In [36]:
tuple2

(9,)

In [37]:
type(tuple2)

tuple

In [44]:
# indexing

# to get first element

tuple1[8]

15

In [49]:
#slicing
tuple1[0:8:2]

(1, 3, 'python', 20.8888)

In [51]:
# Adding of elements

tuple1[0] = 10 #error

TypeError: 'tuple' object does not support item assignment

In [52]:
# remove
tuple1.pop() #error you can remove elements

AttributeError: 'tuple' object has no attribute 'pop'

In [53]:
# append

tuple1.append('programming')

AttributeError: 'tuple' object has no attribute 'append'

In [2]:
tuple2 = (2,3,4,(5,6,7,(10,11)),8)

In [60]:
tuple2

(2, 3, 4, (5, 6, 7, (10, 11)), 8)

In [ ]:
# you can only perform indexing and slicing on tuples

In [61]:
conversion_of_tuple = list(tuple1)

In [62]:
type(conversion_of_tuple)

list

In [63]:
conversion_of_tuple[0] = 100

In [64]:
conversion_of_tuple

[100, 2, 3, 'hello', 'python', -20.99, 20.8888, 10, 15]

In [65]:
tuple3 = tuple(conversion_of_tuple)

In [66]:
tuple3

(100, 2, 3, 'hello', 'python', -20.99, 20.8888, 10, 15)

In [67]:
type(tuple3)

tuple

In [71]:
# using 'in' operator

# syntax element in datatype or object

print(25  in tuple3)

False

In [3]:
tuple1 = (1,2,3,'hello','python',-20.99, 20.8888,10,15)
tuple2 = (2,3,4,(5,6,7,(10,11)),8)

In [4]:
# Joining Tuples

tuple3 = tuple1+tuple2

In [5]:
print(tuple3)

(1, 2, 3, 'hello', 'python', -20.99, 20.8888, 10, 15, 2, 3, 4, (5, 6, 7, (10, 11)), 8)

In [6]:
# count --> How many number of times a particular item has been repeated

tuple3.count(3)

2

In [8]:
tuple3.index(3)

2